.app-header {
  background-color: #3d5a64;
  color: #fff;
  padding: 2rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: #000 0px -10px 20px -2px;
  z-index:1;
}

#root {
  margin-top: 10rem;
}

.App {
  margin: 0 auto;
  width: 75%;
}

.user-card {
  padding: 3rem;
  margin: 2rem 0;
  background-color: #fafafa;
  border-radius: 15px;
  text-align: center;
  box-shadow: #111 0px 3px 7px -5px;
  position:relative;
  bottom: 0;
  transition: .5s;
}

.user-card:hover{
  bottom: 5px;
  transition: .5s;
  box-shadow: #111 0px px 7px 0px;
  background-color: #e2e8ec;
}

.user-image {border-radius: 100px;box-shadow: #3a3232 0px 6px 10px -5px;}

.user-details {
  text-align: left;
}

.name {
  border-bottom: 2px solid #235669;
  padding-bottom: .5rem;
  font-size: 1.75rem;
}